.button {

    // width: 97px;
    // height: 36px;
    padding: 10px 15px;
    background-color: $order-color;
    color: white;
    font-size: rem(13px);
    border-radius: 5px;
    font-weight: 500;
    // margin-top: 1.5%;
  

}


.btn-order {
    margin-left: 18px;
    @include tablets() {
        margin-left: 0;
    }
    @include phones() {
        margin-left: 0;
    }
    &-slide {
        margin-top:10%;
        margin-left: 7%;

        @include tablets() {
            margin-top:8%;
            margin-left: 6%;  
        }
        @include phones() {
            padding: 12px 18px;
            margin-top: 6%;
            margin-left: 6%;
        }
    }

}

.btn-clear {
    margin-left: 1%;
    background-color: rgba(0,0,0,0);
    font-weight: 300;
}

.more {
    background-color: $review-btn;
    padding: 15px 20px;
    &:hover {
        background-color: $review-btn-hover;
        transition: 0.3s;
    }
    @include phones() {
        padding: 12px 28px; 
    }
}
