.contacts {
    width: 100%;
    // height:650px;
    background-image: url(../img/map.jpg);
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: relative;
}

.footer {
    // display: block;
    position: absolute;
    bottom: 0%;
    height:9vh;
    width: 100%;
    background: url(../img/footer_bg.jpg) center center no-repeat/ cover;
    // display: flex;
    // justify-content: space-around;
    color: white;
}

.container--footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height:100%;
}

.address {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1% 0;
    font-style: normal;
    font-weight: 300;
    font-size: rem(14px);
    .phone {
        color: $phone;
        font-weight: bold;
        position: relative;
        padding-left: 4%;
        &:before {
            content: "";
            width:12px;
            height: 12px;
            background: url(../img/phone.png) center center no-repeat;
            position: absolute;
            left:0%;
            bottom: 0%;


        }
    }
}

.socials__list {

    width: 50%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}