.contacts {
    width: 100%;
    // height:650px;
    // background-image: url(../img/map.jpg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: relative;
}

.map {
    width:100%;
    height:100%;
}

.map__hint {
    padding:4% 0%;
    font-family: 'ubuntu', sans-serif;
    font-size: 1rem;
    // text-align: center;
}

.map__balloon {
    display: flex;
    justify-content: center;
    align-items: center;
    .map__burger-img {
        width:25%;
    }
}

.footer {
    // display: block;
    position: absolute;
    bottom: 0%;
    height:10%;
    // @include tablets() {
    //     height:7vh;
    // }
    @include phones() {
        height:13%;
    }
    width: 100%;
    background: center/ cover  no-repeat url("../img/footer_bg.jpg");

    // display: flex;
    // justify-content: space-around;
    color: white;
}

.container--footer {
    
    width: 94%;
    height:100%;
    height: 100%;
   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include phones() {
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding-top: 1.4rem;
     }
}


.address {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1% 0;
    font-style: normal;
    font-weight: 300;
    font-size: rem(14px);

    @include tablets() {
        padding:2% 0;
    }

    @include phones() {
        width: 100%;
        height: 57%;
        padding:0;
        font-size: rem(18px);
        align-items: center;
    }

    .phone {
        height: 4rem;
        display: flex;
        align-items: center;
        @include phones() {
              justify-content: center; 
              align-items: unset;
        }
     
    }
    .phone-pic {
        width:6%;
        height: 40%;
        @include phones() {
            height: 100%;
        }
     }

    .phone-number {
        color: $phone;
        font-weight: bold;
        position: relative;
        // padding-left: 4%;
        // &:before {
        //     content: "";
        //     width:12px;
        //     height: 12px;
        //     background: url(../img/phone.png) center center no-repeat;
        //     position: absolute;
        //     left:0%;
        //     bottom: 0%;


        // }
    }
}

.socials__list {

    width: 100%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include phones() {
        justify-content: center;
    }
}

// .best__list-image{
//     width:100%;
//     height:100px;
//     margin: 0 auto;
// }
.socials__item {
    width:7.3%;
    // height:50%;
    @include tablets() {
        width: 9.3%;
    }
    display: flex;
    align-items: center;

}

.socials__link {
  display: inline-block;
    width: 100%;
    height: 100%;
}

.social-pic {
    fill: white;
    width: 1.5rem;
    height: 1.4rem;
    &--vk {
        height: 1.5rem;
    }
    @include phones() {
    width: 1.6rem;
    height: 1.6rem;
        .social-pic--vk {
        height: 1.65rem;
    }
    }
    

    opacity: 0.2;
    transition: 0.5s;
    &:hover {
        opacity:1;
    }
}

// @each $socials in (vk, fb, inst, twitter) {
//    .socials__link--#{$socials} {
       
//     background: url('../img/#{$socials}.png') center center no-repeat;
//    }
// }