
.fixed-menu-list 
{
  position:fixed;
  top: 90px;
  right: 63px;
  z-index: 10;
}


.fixed-menu__item {
    margin-bottom: 5px;
  
    &-active {
      .fixed-menu__link {
        border-color: #fff;
      }
    }
  }
  
  .fixed-menu__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    display: block;
    border: 1px solid transparent;
  
    &:hover {
      border-color: #fff;
    }
  
    &:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
