@function rem($px){
	@return $px/16px + 0rem;
}

@mixin laptops {
	@media screen and (max-width: $laptops) {
	  @content;
	}
  }

@mixin tablets {
	@media screen and (max-width: $tablets) {
	  @content;
	}
  }
  
  @mixin phones {
	@media screen and (max-width: $phones) {
	  @content;
	}
	}
	

	@mixin icons_slide {
		background:rgba(228, 80, 40, 0.44);
    border-radius: 5px;
    position: absolute;
    width:5.7rem;
    height:5.7rem;
			@include phones(){
				width:6.7rem;
    		height:6.7rem;
			}
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}

