.reviews__list {
    height:100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width:25%;
    height:50%;

    @include tablets() {
        width:50%;
        height: 25%;
    }
    background-size: cover;
    background-position: center center;

    &:nth-child(1){
        background-position-x: 60%;
    }

    background-repeat: no-repeat;
    filter: grayscale(100%);
    position: relative;
    &:hover {
        .reviews__hover {
            opacity: 1;
        }
    }

}

.reviews__hover {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    // background: rgba($review-color,0.7);
    background: rgba(black,0.7);
    opacity:0;
    transition:opacity 0.3s;
    text-align: left;
    padding: 17% 8%;

    @include tablets() {
        text-align: center;
        padding: 8% 14%;
    }
    @include phones() {
        text-align: center;
        padding: 17% 14%;
    }

}

.reviews-popup {
    position: fixed;
    height: 100%;
    width: 100%;
    left:-9999px;
    top:0;
    background-color: rgba(black,0.87);
    z-index: 50000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    // position: relative;

}

.opened {
    left:0;
    width:100%;
    height:100%;
    opacity: 1;
    transition: opacity 1s;
}

.reviews-popup__container {
    width: 50%;
    border-radius: 5px;
    // position: absolute;
    // top:50%;
    background-color: white;
    // position: relative;
    padding: 4%;
    margin: 12% 0 12%;
    border-width: 0;
    vertical-align: middle;
    text-align: left;
}

.reviews-popup__title {
    font-family: 'gagalin';
    font-size: 0.875rem;
    color: #2f3234;
    margin-bottom: 1.5625rem;
    display: flex;
    justify-content: space-between;

}

.reviews__text{
    color: #2f3234;
}


// .title4 {
    
//     font-family: 'gagalin';
//     font-size: rem(14px);
//     color:white;
//     margin-bottom: 22px;
    
// }

.reviews__content {
    
    overflow: hidden;
    font-weight: 300;
    font-size: rem(14px);
    color:white;
    line-height: 1.75em;
    margin-bottom: 10%;
    @include tablets() {
        margin-bottom: 11%;
        max-height: 55%;
    }
    @include phones() {
        display: none;
    }
}

// .more {
//     background-color: $review-btn;
//     padding: 15px 20px;
//     &:hover {
//         background-color: $review-btn-hover;
//         transition: 0.3s;
//     }
// }
