.slider-section {
    background: linear-gradient(0deg,#f9b43b,#eb8c38,#f9b43b);
    @include phones() {
        position: relative;
    }
    // position: relative;
}

.container--slider {
    // display: flex;
    // flex-direction: row;
    position: relative;
   align-items: center;
   height:100%;
}

.navigation {
    width:8%;
    display: flex;
    position: absolute;
    &--prev{
        left:-5%;
        top:44%;    
    }
    &--next{
        right:-5%;
        top:44%;
    }
   

    align-items: center;
    padding: 0 1%;

    @include tablets() {
        width: 15%;
        padding: 0% 2%;
    }
    @include phones() {
        width: 15%;
        padding: 0;
    }
}

.previous-button, .next-button {
    background: rgba(0,0,0,0);
    width: 100%;
  
}


.slider-array {
    overflow: hidden;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;

    @include phones() {
        position: static;
    }
    // margin-top:3%;
    // display: flex;
    // align-items: center;
  
}

.slider-wrapper {
    display:flex;
    height: 100%;
    width: 100%;
    // right:10%;
    transition: right 1s;
    position: relative;
}
.slide {
    width:100%;
    margin:0;
    display: flex;
    flex: 1 0 auto;
    // flex:1;
    align-items: center;
    height: 100%;
    position: relative;

    @include tablets() {
        flex-direction: column;
        text-align: center;
    }
   
    // padding-top: 30vh;
}


.slide-left{
    width:49%;
    height: inherit;
    display: flex;
    align-items: center;

    @include tablets() {
        width: 100%;
        align-items: flex-end;
        justify-content: center;
    }
}

.slide-right {
    width:51%;
    height: inherit;
    // padding-left: 0%;
    // margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets() {
        width: 85%;
        justify-content: flex-start;
        padding-top:8%;
    }

    @include phones() {
        padding-top: 14%;
    }
}



.prev-svg {
    -webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg); 
transform: rotate(90deg);
width: 86%;
}


.next-svg {
    -webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg); 
transform: rotate(-90deg);
width: 86%;
}

.burger-img {
    // display: inline-block;
    // width:85%;
    max-width: 31.5625rem;
    max-height: 20.5625rem;
    margin: 0 auto;

    // margin-top: 11%;
//   padding-right: 5%;

@include tablets() {
    max-width: 33.5625rem;
    // margin-left: 0;
}

@include phones() {
    max-height: 17.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.burger-pic {
    display: block;
    width: 100%;
}

.composition {
    @include icons_slide;
    top:14%;
    left:0%;
    z-index: 1000;

    @include tablets() {
        top: 12%;
        left: 11%;
    }

    @include phones() {
        top: 6.5%;
        left: 5%;
    }



    &-svg {
        display: block;
        width: 60%;
        height: 60%;
        z-index: 100;
    }
}

.composition-content {
    background:rgba(255, 255, 255, 0.9);
    border-radius: 0.3125rem;
    // width: 16.875rem;
    z-index: 100;
    width: rem(275px);
    

    position: absolute;
    top: 14%;
    left: 10%;

    @include tablets() {
        width: 19.1875rem;
        top: 12%;
        left: 26%;
    }

    @include phones() {
        // width: 26.1875rem;
        width:69%;
        top: 6.5%;
        left: 23.5%;
    }
        display: none;
        // display:flex; in JS code
    
    // left: 100%;
}

ul.content__list {
    width:88%;
    margin: 0 auto;
    padding:5% 0%;
    @include tablets() {
        width: 70%;
    }
}

li.content__item {
    display: flex;
    align-items: center;
    margin-bottom: 2%;

    @include tablets() {
        margin-bottom: 4%;
    }

    .content-svg {
        width: 2.5rem;
        height:2.5rem;
    }
    .content-name {
        font-size: rem(14px);
        font-weight: 500;
        margin: 0 1.5%;
        @include tablets() {
            margin: 0 8.5%; 
        }

        @include phones() {
            font-size: rem(16px);
            font-weight: 600;
        }
    }
    .content-weigh{
        font-size: rem(14px);
        font-weight: 400;
        margin-left: auto;
        @include phones() {
            font-size: rem(16px);
        }
    }

}

.close-wrapper {
    display: none;
    @include tablets() {
        display: inherit;
        width:15%;
        
    }
    @include phones() {
        
        width:17%;
        
    }
}
.content-close {
    background: rgba(0, 0, 0, 0);
    width:rem(20px);
    height: rem(20px);
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    
}

svg.close--slider {
    fill: $coral;
}


.calories {
    @include icons_slide;

    bottom: 14%;
    left:-1%;
    @include tablets() {
        top: 10%;
        left: 77%;
    }
    @include phones() {
        top: 5%;
        left: 73%;
    }

    background:rgba(228, 80, 40, 0);
    

    &-svg {
        display: block;
        width: 65%;
        height: 65%;
        @include phones() {
            height: 100%;
        }
        position: relative;
    }


    &-number {
        font-family: 'gagalin';
        font-size: 1.25rem;
        color:white;
        opacity: 0.5;
        text-align: center;
        position: absolute;
        top:47%;
    }
}




.slide-description {
    color:white;
    font-size: rem(15px);
    line-height: 1.45rem;
    margin-top: 11%;
}


.price-and-order {
    display:flex;
    align-items: center;
    margin-top: 3%;
    @include tablets() {
        margin-top: 6%;
        justify-content: center;
    }

    @include phones() {
        margin-top: 7%;
        // justify-content: center;
    }
}

.roubles {
    font-size: 1.9rem;
    @include tablets() {
        margin-left: 5%;
        font-size: 2rem;
    }

}
