
.title1 {
    color: $maintitlecolor;
    font-family: 'gagalin';
    font-size: rem(72px);

    @include tablets() {
        font-size: 4.7rem;
    }

    &--intro {
        margin-bottom: 35px;
    }
    &--best {
        color:black;
        text-align: center; 
        @include phones() {
            font-size: 4rem;
        }  
    }
    &--team {
        @include phones() {
            font-size: 3.7rem;
        }
        
    }
    &--menu {
        color:white;
    }
    &--acco {
        color:white;
        background-color: rgba(0, 0, 0,0);
        // font-size: rem(64px);
        font-size: 2.5rem;
        text-align: center;
        @include phones() {
            text-align: left;
            font-size: 3rem;
            top: 74%;
        }
        white-space: nowrap; 
        position: absolute;

        -webkit-transform: rotate(-90deg) translate(-50%, -50%);
        -ms-transform: rotate(-90deg) translate(-50%, -50%);
        transform: rotate(-90deg) translate(-50%, -50%);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         transform-origin: 0 0;
        left: 50%;
        top: 50%;


    }
    &--workflow {
        color:black;
        text-align: center;
    }

    &--order {
        text-align: center;
        margin-bottom: 3.9%;
        @include tablets() {
            margin-bottom: 6.8%;
        }
        @include phones() {
            font-size: 3.7rem;
            padding:0 2rem;
        }
    }

    &--slider {
        color:white;
        line-height: 3.9rem;
        @include phones() {
            font-size: 3.7rem;
          
        }
        
    }
    &--slider3 {
        @include phones() {
            font-size: 2.5rem;
        }
    }

    &--price {
        color:#e25028;
        font-size: 4.2rem;
        @include phones() {
            font-size:4rem;
          
        }
    }

}

.title2 {
    color: #fff;
    font-family: 'lifehack';
    font-size: rem(65px);
    line-height: 1em;
    &--intro {
        height:20%;
        &:nth-child(1) {
            padding-top: 8%;
        }
    }

}


.title3 {
    width: 98%;
    font-family: 'lifehack';
    font-size: rem(24.12px);
    text-align: center;
    // margin-bottom: 20px;
    &--best {
        margin-bottom: 13px; 

        @include phones() {
            font-size: 1.9rem;
            text-align: left;
            // white-space: nowrap;
        }
    }
}

.title4 {
    
    font-family: 'gagalin';
    font-size: rem(14px);
    color:white;
    margin-bottom: 22px;
    &--reviews {
        color: white;
        margin:2%;
        @include phones() {
            font-size: 1.7rem;
            margin: 0 0 14% 0;
        }
        
    }

    &--composition {
        margin:0;
    }

    &--calories {
        margin-top:38%;
        margin-bottom: 0;
        @include phones() {
            margin-top: 56%;
        }
    }
}
